## Create “subset” files for:

a) Radars -  6 degree by 6 degree box centered on the radar
- Cedar City, Utah - 37 degrees 35 minutes 27 seconds; 112 51 44
- Phoenix, AZ - 33 17 21 ; 111 40 12
- Greer, SC - 34 53 00 ; 082 13 12
- Sterling, VA - 38 58 31 ; 077 28 40 
- Denver, CO - 39 47 12 ; 104 32 45

b) Columbia Plateau and Surroundings: 41 - 49 lat by 123 - 115 lon

In [1]:
import os
import numpy as np
import pandas as pd
import xarray as xr

In [2]:
from __init__ import *

In [5]:
pd.DataFrame(cities).T

,lat,lon,path,r
cedar,37.5908,-112.862,/home/jsignell/erddapData/Cloud_to_Ground_Ligh...,3
columbia,45,-119,/home/jsignell/erddapData/Cloud_to_Ground_Ligh...,4
denver,39.7867,-104.546,/home/jsignell/erddapData/Cloud_to_Ground_Ligh...,3
greer,34.8833,-82.22,/home/jsignell/erddapData/Cloud_to_Ground_Ligh...,3
phoenix,33.2892,-111.67,/home/jsignell/erddapData/Cloud_to_Ground_Ligh...,3
sterling,38.9753,-77.4778,/home/jsignell/erddapData/Cloud_to_Ground_Ligh...,3

Benchmarking outcomes:
 - 2015_07_14 (2808266 records): 7.63ms to open dataset, 951ms to bound, save, and close
 - 1991_01_22 (2 records): 2.25ms to open dataset, 8.48ms to bound, and close

In [11]:
def bound(ds, lat, lon, r):
    bounding_box = ((ds.lat<(lat+r)) & (ds.lat>(lat-r)) & (ds.lon<(lon+r)) & (ds.lon>(lon-r)))
    return(ds.where(bounding_box).dropna('record'))

In [23]:
fnames = os.listdir(out_path)

In [ ]:
count=0
for fname in fnames:
    ds = xr.open_dataset(out_path+fname)
    for k, v in cities.items():
        ds0 = bound(ds, v['lat'],v['lon'],v['r'])
        if ds0.dims.values()[0] > 0:
            ds0.to_netcdf('{path}{fname}'.format(path=v['path'], fname=fname), 
                          format='netCDF4', engine='netcdf4')
        ds0.close()
    ds.close()
    count+=1
    if count%10 == 0:
        print fname

1995_01_10.nc
1995_01_20.nc
1995_01_30.nc
1995_02_09.nc
1995_02_19.nc
1995_03_01.nc
1995_03_11.nc